.titulo__principal {
	color: #007777;
	
	padding: 3.1rem;
	text-align: center;
	font-size: 3.1rem;
	font-weight: bold;
}

.texto__principal {

	font-size: 1.7rem;
	margin: 1rem 5rem 3rem 5rem;
	text-align: justify;


}

.container__sinfonica {
	display: flex;
	margin-bottom: 1rem;
	align-items: center;

}

.titulo_texto__esquerda {
	display: flex;
	flex-direction: column;


	width: 50%;
	

}

.titulo__esquerda {

	
	color: #007777;
	
	box-sizing: border-box;


	border: 2px solid #007777;
	border-radius: 10px;

	font-size: 2.1rem;
	font-weight: bold;
	text-align: center;
	margin:0rem 0rem 0rem 5rem;

	padding: 10px;

	vertical-align: top;

	transition: 1s all;
}

.titulo__esquerda:hover {
	text-decoration: underline;
    transform: scale(1.03);
}

.texto__esquerda {

	font-size: 1.8rem;
	margin:2rem 0rem 2rem 5rem;
	text-align: justify;

}

.harpa__imagem {
	height: 20rem;
	margin: 0rem 0rem;

	width: 50%;
}

.container__filarmonica {
 	display: flex;
 	line-height: 1.8rem;

 	align-items: center;

 	margin-bottom: 1rem;
}

.piano__imagem {

	width: 50%;
	margin: 0rem;

}

.titulo_texto__direita {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.titulo__direita {
	
	color: #007777;
		
	box-sizing: border-box;

	border: 2px solid #007777;
	border-radius: 10px;

	font-weight: bold;
	text-align: center;
	/*margin:0rem 1rem 0rem 7rem;*/
	margin: 0rem 4rem; 

	font-size: 2.5rem;

	font-weight: bold;
	padding: 10px;
	
	transition: 1s all;
 	
}
.titulo__direita:hover {
	text-decoration: underline;
    transform: scale(1.03);
}

.texto__direita {

	font-size: 1.8rem;

	text-align: justify;
	/*margin: 3rem 1rem 4rem 7rem;*/
	margin: 3rem 4rem;
}
.container__de_camara {
	display: flex;

	align-items: center;
	line-height: 1.8rem;
}
.viola__imagem{
	
	width: 30%;
	margin: 1rem 5rem;
}
#titulo__lista1 {
	margin: 1rem 4.5rem 0rem 4.5rem;
}
.titulo__lista {

	display: inline-block;

	color: #333333;
	margin: 0rem 4.5rem;

	font-size: 1.5rem;
	font-weight: bold;

	transition: 1s all;
 	text-decoration: underline;

}

.titulo__lista:hover {

    color: #007777;
    transform: scale(1.03);

   

}
.texto__lista {
	font-size: 1.5rem;

	text-align: justify;


	margin: 1rem 4.5rem 2rem 4.5rem;

}


@media screen and (max-width: 768px) {

	.titulo__principal {
		padding:1rem 0rem 0rem 0rem;
		text-align: center;
		
	}

	.texto__principal {

		margin: 2rem;


		
	/*margin-left: 3.1rem;*/
	}
	.container__sinfonica {
	
	}
	.titulo_texto__esquerda {
	

	}
	.titulo__esquerda {
		margin: 1rem 0rem 1rem 2rem;
		padding: 10px;
		font-size: 1.7rem;
		text-align: center;
	}

	.texto__esquerda{

		font-size: 1.7rem; 

		
		margin: 0rem 0rem 0rem 2rem;
		width: 90%;
		
	}
	.harpa__imagem {
		
		margin: 10px;
		height: 200px;
		width: 50%;
	
	}
	.container__filarmonica {
		
	}
	.titulo_texto__direita {
		width: 60%;
	}
	.titulo__direita {
	
		font-size: 1.7rem;
		margin: 1rem 2rem 1rem 4rem;
	}
	.texto__direita {
		
		
		font-size: 1.7rem;
		
		margin: 1rem 2rem 1rem 4rem;
	
	}
	.piano__imagem {
		width: 40%;
		height: 150px;

		margin: 0rem 0rem 0rem 0.5rem;
	}

	.viola__imagem {
		width: 40%;

		margin: 2rem;
	}

	#titulo__lista1 {
		margin: 2rem 0rem 0rem 2rem;
	}
	.titulo__lista {
		margin: 1rem 0rem 0rem 2rem;
	}
	.texto__lista {
		margin: 1rem 2rem 1rem 2rem;
		
	}

} 

@media screen and (max-width: 425px) {

	.titulo__principal {
		
		text-align: center;
		font-size: 2.5rem;
		text-align: left;
		margin-left: 1rem;
	}

	.texto__principal {

		font-size: 1.35rem;
		margin: 1.5rem 1rem 1.5rem 1rem;


		
	/*margin-left: 3.1rem;*/
	}
	.container__sinfonica {
		align-items: flex-start;
	}
	.titulo_texto__esquerda {
	

	}
	.titulo__esquerda {
		margin: 1rem 0rem 1rem 1.1rem;
		
		
	}
	.texto__esquerda{

		font-size: 1.7rem; 

		
		margin: 0rem 0rem 0rem 1.1rem;
		
		
	}
	.harpa__imagem {


		height: 130px;
		width: 45%;
		 
	}
	.container__filarmonica {
		align-items: flex-start;
		
	}
	.titulo_texto__direita {
		width: 50%;
	}
	.titulo__direita {
		width: 100%;
		margin: 1rem 0rem 1rem 1rem;
	}
	.texto__direita {
		
		width: 90%;
		font-size: 1.7rem;
		
		margin: 1rem 0rem 0rem 1.0rem;
	
	}
	.piano__imagem {
		width: 40%;
		

		margin: 0rem 0rem 0rem 0.5rem;
	}
	.container__de_camara {
		align-items: flex-start;
	}
	.viola__imagem {
		width: 50%;
		float: right;
		height: 200px;

		margin: 3rem 0rem 0rem 0rem;
	}
	#titulo__lista1 {
		margin: 2rem 1rem 1rem 1rem;
	}
	.titulo__lista {
		margin: 1rem 0rem 1rem 1rem;
		
	}
	.texto__lista {
		width: 90%;
		margin: 0rem 0rem 1rem 1rem;
		
	}
}
